@page
@model RegisterModel
@{
    Layout = "~/Views/Shared/_CustomIdentityLayout.cshtml";

    ViewData["Title"] = "Add New User";
}

<div class="container">

<div class="row">
    <div class="col-6" style="margin:auto;">
        <div class="card " style=" border-radius: 25px;">
            <div class="card-header" style=" background:#F0A306">
                <h3 class="card-title" style="margin:auto;color:#fff;">@ViewData["Title"]</h3>
            </div>
            <form asp-route-returnUrl="@Model.ReturnUrl" method="post" style="padding:20px">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group" style="margin-top:30px;">
                    <label asp-for="Input.Name"></label>
                    <input asp-for="Input.Name" class="form-control" />
                    <span asp-validation-for="Input.Name" class="text-danger"></span>
                </div>

                <div class="form-group" style="margin-top:30px;">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>

                <div class="form-group" style="margin-top:30px;">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>

                <div class="form-group" style="margin-top:30px;">
                    <label asp-for="Input.ConfirmPassword"></label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>

                <div class="form-group" style="margin-top:30px;">

                    <button type="submit" style="width:100%" ; class="btn btn-dark">Add</button>
                </div>
                <div class="form-group">
                    <p>
                        <a id="forgot-password" href="/Admin/CreateRole/AssignRoleToUser">Back To Dashboard?</a>
                    </p>
                  
                </div>
            </form>
            </div>
        </div>

    </div>
</div>















@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
